@font-face {
    font-family: 'poiret_oneregular';
    src: url('font/poiretone-regular-webfont.woff2') format('woff2'),
         url('font/poiretone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --height: 100vh;
    --logo-container-width: 35vw;
    --info-container-width: 65vw;
    --info-container-children: calc(var(--height)/3);
    --font-size: calc(13px + 0.5vw);
    --line-height: calc(1.1rem + 0.5vw);

}

html {
    font-family: 'poiret_oneregular', sans-serif;
    font-size: var(--font-size);
    line-height: var(--line-height);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
}

.main > div {
    height: var(--height);
}

.logo-container {
    width: var(--logo-container-width);
    background-image: url(images/valeria-reverdo-cWciza5SIpA-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    /* content:url(images/valeria-reverdo-cWciza5SIpA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; */
    display: flex;
    flex-direction: column;

}

.logo-container-background {
    width: 100%;
    height: 20%;
    background-color: rgba(5, 14, 4, 0.535);
    margin-top: 30vh;
    /* background-image: url(images/odin-lined.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: 50%;
    background-position-y: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 80px rgba(255, 255, 255, 0.5),
                0px -10px 80px rgba(255, 255, 255, 0.5);
}

.logo-container-background > p {
    font-size: calc(var(--font-size) * 2.5);
    color: aliceblue;
    font-weight: 900;
}

.info-container {
    width: var(--info-container-width);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.info-container > div {
    width: 100%;
    height: var(--info-container-children);
}

.info-header {
    background-color: rgba(105, 208, 160, 0.209);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.info-header > p {
    padding: 10px;
}

.info-form {
    background-color: rgba(234, 234, 234, 0.567);
}

.info-footer {
    background-color: blanchedalmond;
}

.signup-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #d8d8d8;
    height: 100%;
}

.signup-form > div {
    margin-bottom: 10px;
    display: block;
}

.signup-form > div input[type='text'],
.signup-form > div input[type='email'],
.signup-form > div input[type='tel'],
.signup-form > div input[type='password'] {
    width: 100%;
    padding: 24px 10px 12px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
}

.signup-form > div label {
    padding-right: 0px;
    text-align: left;
    width: 100%;
    display: none;
}

.signup-form div {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 10px;
}


@media (min-width: 700px) {

    .signup-form > div {
        display: block;
    }

    .signup-form > div label {
        text-align: right;
    }

    .signup-form div {
        flex: 0 0 50%;
        max-width: 50%;
    }





    

}